<h1 class="subtitle text-center"> Cube Quwe </h1>
<section class="col-md-6 col-md-offset-3 login-form">
  <div class="text-center">
    <h2> [Stationslaufname] </h2>
  </div>
  <form class="form-group" (submit)="create()">
    <label> Teilnehmer: </label>
    <div class="container">
      <div id="table" class="table-editable">
        <table class="table">
          <tr>
            <th>Code</th>
            <th>Benutzername</th>
          </tr>
          <tr *ngFor="let item of stationlist">
            <td contenteditable="false">{{item.name}}</td>
            <td contenteditable="true">{{item.description}}</td>
          </tr>
        </table>
      </div>
    </div>
    <button class="btn btn-primary" type="submit" routerLink="/creatorview" >Stationslauf starten</button>
    <button class="btn btn-primary" routerLink="" > Zurück </button>
  </form>

</section>