/* You can add global styles to this file, and also import other style files */


* {
  font-family: 'Josefin Sans';
}

h1 {
  font-family: 'Gloria Hallelujah', cursive;
}

body {
  background-color: #AFC6D7;
}