/* You can add global styles to this file, and also import other style files */


* {
  font-family: 'Josefin Sans';
}

h1 {
  font-family: 'Gloria Hallelujah', cursive;
}

body {
  background-color: #AFC6D7;
}

.page-header {
  background-color: #E0E0E0;
  padding-bottom: 0;
  margin-top: 0;
}

.page-header h1 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 40px;
}