<section class="container-fluid">

  <h1 class="title text-center"> Cube Quwe </h1>

  <section class="col-md-6 col-md-offset-3 login-form">

    <form class="form-group">
      <label> Code: </label>
      <input [(ngModel)]="code" name="code" class="form-control" placeholder="hier eingeben" type="text" required />


      <button (click)="login()" class="btn btn-primary" type="submit" routerLink="/playerview"> Beitreten </button>
      <button class="btn btn-primary" routerLink="" > Zurück </button>
    </form>

  </section>

</section>