<section class="container-fluid">

  <h1 class="title text-center"> Cube Quwe </h1>

  <section class="col-md-6 col-md-offset-3 login-form">
    <div class="text-center">
      <button class="btn btn-primary"> Regestrationsinformationen anfordern </button>
    </div>

    <form class="form-group">
      <label> Code: </label>
      <input [(ngModel)]="code" name="code" class="form-control" placeholder="hier eingeben" type="text" required />

      <label> Passwort: </label>
      <input [(ngModel)]="password" name="password" class="form-control" placeholder="hier eingeben" type="password" required />

      <small id="emailHelp" class="form-text text-muted"> Wenn du noch keine Login-Daten hast, fordere dir deine an </small>

      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input">
          Code merken
        </label>
      </div>

      <button (click)="login()" class="btn btn-primary" type="submit"> Anmelden </button>
    </form>

  </section>

</section>