<h1 class="subtitle text-center"> Cube Quwe </h1>
<section class="col-md-6 col-md-offset-3 login-form">
  <div class="text-center">
    <h2> [Stationslaufname] </h2>
  </div>
  <form class="form-group" (submit)="create()">
    <button class="btn btn-success" style="width:49%"> Station1 <br> Start </button>
    <button class="btn btn-success" style="width:49%"> Station2 <br> Start </button>
    <button class="btn btn-success" style="width:49%"> Station3 <br> Start </button>
    <button class="btn btn-success" style="width:49%"> Station4 <br> Start </button>
    <button class="btn btn-primary" routerLink="" > Zurück </button>
  </form>

</section>