<h1 class="subtitle text-center"> Cube Quwe </h1>
<section class="col-md-6 col-md-offset-3 login-form">
  <div class="text-center">
    <h2>{{name}}</h2>
    <h4>Started: {{started$ | async}}</h4>
  </div>
  <div *ngIf="player$ | async as player">
    <div class="fullsize" *ngFor="let station of stations">
      <button class="btn btn-success btn-view-width" *ngIf="player.stations[station.id].status === 'notstarted'" (click)="startStation(station.id)">
        {{station.name}}
        <br> Start </button>
      <button class="btn btn-danger btn-view-width" *ngIf="player.stations[station.id].status === 'started'" (click)="stopStation(station.id)">
        {{station.name}}
        <br> Stop </button>
      <button class="btn btn-default disabled btn-view-width" disabled *ngIf="player.stations[station.id].status === 'done'"> {{station.name}}
        <br> beendet </button>
    </div>
    <button class="btn btn-primary" routerLink=""> Zurück </button>

  </div>

</section>