<h1 class="subtitle text-center"> Cube Quwe </h1>
<section class="col-md-6 col-md-offset-3 login-form">
  <div class="text-center">
    <h2>{{name}}</h2>
  </div>
  <form class="form-group" (submit)="create()">
    <div class="fullsize">
      <button class="btn btn-success btn-view-width" > Station1 <br> Start </button>
      <button class="btn btn-danger btn-view-width"> Station2 <br> Stop </button>
      <button class="btn btn-default disabled btn-view-width" disabled> Station3 <br> beendet </button>
    </div>
    <button class="btn btn-primary" routerLink="" > Zurück </button>

  </form>

</section>