<section class="container-fluid">
	<link href="landing.page.CSS" rel="stylesheet" media="all" type="text/css">
	
	<div class="titel">
		<h1 class="title text-center"> Cube Quwe </h1>
	</div>
	
	<div class="col-xs-12 col-md-1"></div>
 
	<div class="col-xs-12 col-md-6">
		<h2> Stationslauf Starten </h2>
		<p>Wenn Sie einen neuen Stationslauf starten wollen Klicken Sie hier:</p> 
		<button class="btn btn-primary">Stationslauf starten </button>
	</div>

	
	<div class="col-xs-12 col-md-5">
		<h2> Stationslauf Beitreten </h2>
		<p>Wenn Sie einem bestehenden Stationslauf beitreten wollen Klicken Sie hier:</p> 	
		<button class="btn btn-primary">Stationslauf beitreten </button>
	</div>
	
  
</section>