<section class="container-fluid">
	
	<div class="titel">
		<h1 class="title text-center">Cube Quwe</h1>
	</div>
	
	<div class="col-xs-12 col-md-1"></div>
 
	<div class="col-xs-12 col-md-6">
		<h2>Stationslauf erstellen</h2>
		<p>Wenn Sie einen neuen Stationslauf starten wollen, klicken Sie hier:</p> 
		<button class="btn btn-primary" routerLink="/create">Stationslauf erstellen</button>
	</div>

	
	<div class="col-xs-12 col-md-5">
		<h2>Stationslauf beitreten</h2>
		<p>Wenn Sie einem bestehenden Stationslauf beitreten wollen, klicken Sie hier:</p> 	
		<button class="btn btn-primary" routerLink="/login">Stationslauf beitreten</button>
	</div>
	
  
</section>